<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.Extensions.DependencyInjection" version="9.0.2" targetFramework="net462" />
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.ExperienceForms" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.ExperienceForms.Mvc" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Mvc" version="9.0.2" targetFramework="net462" />
  <package id="SC.System.Web.Helpers" version="9.0.2" targetFramework="net462" />
  <package id="SC.System.Web.Mvc" version="9.0.2" targetFramework="net462" />
  <package id="SC.System.Web.WebPages" version="9.0.2" targetFramework="net462" />
</packages>